---
import { Image } from '@astrojs/image/components';
import Tags from '../ui/Tags.astro';
interface Props {
	url?: string;
	alt?: string;
	image: string;
	title?: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const { url = '#', alt = 'Project image', image, title = 'Project title', tags = ['Tags'] } = Astro.props;
---

<section class="w-full py-4 md:px-2 lg:px-3 md:w-1/2 lg:w-1/2">
	<article
		data-testId="card"
		class="rounded-xl bg-white p-4 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
	>
		<a href={url} aria-label="link to project">
			<div class="relative flex items-end overflow-hidden rounded-xl">
				<Image
					src={image}
					alt={alt}
					aspectRatio="4:4"
					format="png"
					width={400}
					height={400}
					loading="eager"
				/>
			</div>
			<div class="mt-1 p-2">
				<h3 class="text-xl text-green lg:text-2xl">{title}</h3>
				<Tags tags={tags} />
			</div>
		</a>
	</article>
</section>

<style>
	article img{
		width: 100%;
    	height: 400px;
		object-fit: contain;
	}
</style>
